<html>
<head>
    <title>{% block title %}Harpokrat{% endblock %}</title>
</head>
<body>
    {% block content %}
        <p style="color:red;font-weight:bold;">Aled oskour</p>
    {% endblock %}
</body>
</html>
