===| {% block title %}Harpokrat{% endblock %} |===

{% block content %}
    <p style="color:red;font-weight:bold;">Aled oskour</p>
{% endblock %}

{% block footer %}
------------------------------------------

Email sent by Harpokrat

https://www.harpokrat.com/

Blabla legal stuff... {# TODO #}
{% endblock %}
