{% extends 'mails/_email_base.html.twig' %}

{% block content %}
    <p style="color:blue;font-weight:bold;text-decoration:underline;">Aled oskour jpp</p>
    <p>Validation code: {{ validation_code }}</p>
{% endblock %}
