{% extends 'mails/_email_base.html.twig' %}

{% block title %}Email address validation{% endblock %}

{% block header_subject %}Email address validation{% endblock %}

{% block content %}
    <p>
        Hello {{ user.firstName }},<br>
        <br>
        Your Harpokrat account was successfully created !
        To use all the features of Harpokrat you must validate your email
        address by clicking on this button:
    </p>
    <br>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="width:100%">
        <tr>
            <td>
                <table width="350" align="center" border="0" cellspacing="0" cellpadding="0" style="width:300px">
                    <tr>
                        <td width="350" bgcolor="#1E90FF" style="padding:12px 18px 12px 18px;border-radius:3px;
                        text-align:center">
                            <a
                                    href="{{ validation_link }}"
                                    target="_blank" style="font-size:18px;font-family:Helvetica,Arial,sans-serif;
                                    font-weight:bold;color:#FFFFFF;text-decoration:none;display:inline-block;"
                            >
                                Validate my email address ✓
                            </a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <br>
    <p>
        Warning: this email and validation link are only valid until the
        <b>{{ action.expirationDate|date('Y/m/d \\a\\t G:i') }}</b>
    </p>
    <br>
    <p>
        If the link is not working you can enter the following address manually in your web browser:<br>
        <br>
        <small>{{ validation_link }}</small><br>
        <br>
        <br>
        Thanks,<br>
        Harpokrat
    </p>
{% endblock %}
